@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    box-sizing: border-box;
    background-color: blue;
}

body {
    background-color: #f6f7fb;
    font-family: 'Itim', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: blue;
}
